.header {
    background-color: white; /* Color del header */
    top: 0;
    position: sticky;
    z-index: 1000;
    /* Asegura que el header esté por encima de otros elementos */
}

header h1 {
    color: black; /* Color del texto del h1 */
    font-weight: bold;
     text-transform: uppercase;
}

header nav ul li a {
    color: black !important; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold !important;
    transition: color 0.5s ease;
    font-size: 16px !important; /* Antes 19px, más ligero en pantalla */
}
header nav ul li a:hover {
    color: #0782fa !important; /* Color de los enlaces */
}

#Link-I{
    background-color: #0782fa;
    border-radius: 15px;
    padding: 12px;
    color: white !important;
    transition: background-color 0.5s ease;
    text-align: center;
}

#Link-I:hover{
    background-color: black;
}

.navbar-toggler {
  margin-right: 1rem; /* o usa 16px si prefieres */
}


.search-wrapper {
  min-width: 32px;
}

.search-form input {
  width: 180px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}